

body{
    padding: 0;
    margin: 0;
    background: url(imagem/nnor.jpg) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header{
    display: flex;
    justify-content: space-between;
    background-image: url(imagem/readf.jpg);
    font-size: 25px;
  
  }
  .navegation{
    padding-top: 35px;
    -webkit-box-shadow:0 10px 20px 0 rgb(17, 35, 192);
    color: black;
  
  }
  
  .navegation li a{
    float:right;
    border-right:10px solid #2372a7;
    color: black;
  
  }


#get-in-touch{
position: relative;
text-align: center;

}

#Contact-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 59.4px 0;
    text-align: center;
}

#contact-child-1 {
    width: 60%;
    font-size: 16px;
    left: 10.63rem;
}

#contact-description {
    width: 40%
}
.contact-icon {
    width: 30%;
    height: 1.5rem;
}


.footer,#bottom-container{
    text-align:center ;
    padding: 25px;
   background-image: url(imagem/readf.jpg)
    
     
}
