

body{
    background: url(imagem/nnor.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header,#menu{

}

.header{
padding: 25px;
background-image: url(imagem/readf.jpg);
text-align: left;

}


     
    
 






/*body {
    background: url(imagem/fundo-slider-home-azul.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.footer,#bottom-container{
    padding: 25px;
    display:grid;
    background-image: url(imagem/readf.jpg);

   
    text-align:center;
  
    margin-top: 5px;
}
